html,
body {
    height: 100%;
}

.box {
    padding: 9px;
    border: 1px black solid;
    margin: 5px 10px 15px 20px;

    height: 300px;
    width: 49%;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
}
 
#first-box {

    /* *** Height & Width work *** */
    /* display: inline-block;
    height: 100%;
    width: 100%; */

     /* *** Height & Width work *** */
    /* display: block;
    height: 100%;
    width: 100%; */

    /* *** Height & Width DO NOT work *** */
    display: inline;
    height: 100%;
    width: 100%;
} 
