body {
    margin: 0;
}

.main {
    margin: 20px;
    background: gray;
    /* border: 5px solid black; */
}

.main div {
    /* why is there no margin collapsing at left & right */
    /* https://stackoverflow.com/questions/22722074/is-it-possible-to-collapse-through-left-and-right-margins-with-a-parent-element */
    
    margin: 20px; 
    background: coral; 
    /* border: 5px solid red; */
    
}

 /* Anchor tags are inline elements by default */
#link1 {
    margin: 10px;
}

#link2 {
    margin: 20px;
}