html,
body {
    height: 100%;
}

.box {
    padding: 9px;
    border: 1px black solid;
    margin: 5px 10px 15px 20px;

    height: 300px;
    width: 49%;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
}
/* 
#first-box {
    height: 300px;
    width: 50%;
    box-sizing: border-box;
} */

